{%- if theme.google_adsense.client_id %}
  <script data-ad-client="{{ theme.google_adsense.client_id }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{%- endif %}