if (hexo-config('darkmode')) {
    body {
        color: $text-color;
    }

    .header {
        border-right-color: $border-color;

        .header-inner {
            background-color: $body-bg-color; 
            box-shadow: none;
            border-top-color: $border-color;
            border-left: 1px solid $border-color;

            .site-brand-container {
                border-bottom-color: $border-color;
            }
        }

        .site-nav {
            .menu-item {
                .menu-item-active {
                    color: $link-hover-color;
                }    
            }

            +mobile() {
                border-bottom: 1px solid $border-color;
            }
        }
    }

    .sidebar {
        
        .sidebar-inner {
            background-color: $body-bg-color;
            border-bottom-color: $border-color;
            box-shadow: none;

            .sidebar-nav {
                border-top-color: $border-color;
                border-left: 1px solid $border-color;
            }

            .sidebar-panel {
                border-top-color: $border-color;
                border-left: 1px solid $border-color;
            }
        }
    }

    .main-inner > {
        width: calc(100% - 242px);
        
        .sub-menu, .post-block, .tabs-comment, .comments, .pagination {
            background: $body-bg-color;
            box-shadow: none;

            &:not(:first-child):not(.sub-menu) {
                border-radius: $border-radius;
                box-shadow: none;
            }
        }
        &.archive {
            .post-content {
                &:before {
                    background: $black-light;
                }
            }
        }

        .comments {
            background-color: $body-bg-color;
            box-shadow: none;
            border-top-color: $border-color;
        }
    }

    .archive {
        .post-block {
            .post-content {
                &:before {
                    background-color: $black-light;
                }
            }
        }
    }

    .post-block {
        .post-header {
            +mobile() {
                margin-bottom: 1rem;
            }
        }

        .post-body {
            h1 {
                border-top-color: $border-color;
            }
            h1, h2 {
                border-bottom-color: $border-color;
                padding-bottom: 5px;
            }
        }
        .post-footer {
            .post-nav {
                border-top-color: $border-color;
            }
        }
    }
}