+desktop() {
  .header {
      margin-bottom: -20px;
      padding-right: 40px;

      .site-brand-container {
        background: $white;

        .site-title {
            color: $snorlax-outer-skin;
        }
        .site-subtitle {
            color: $snorlax-sole-of-foot;
        }
      }
  }
}

.header {
    border-right: 1px solid $grey;

    .site-brand-container {
        padding: 25px 10px;
        border-bottom: 1px solid $grey;
        box-shadow: none;
    }

    .header-inner {
        box-shadow: none;
        border-top: 1px solid $grey;
    }

    .sidebar {
      margin-top: 0;

      .sidebar-inner {
        box-shadow: none;
        padding: 0;
        border-bottom: 1px solid $grey;

        .sidebar-nav {
            border-top: 1px solid $grey;
            padding: 10px 0;
        }
        .sidebar-panel {
            border-top: 1px solid $grey;
            padding: 20px 0;
        }
        .back-to-top {
          background-color: $lightgrey;

          &.back-to-top-on {
            margin: 0;
            padding-top: 10px;
            padding-bottom: 5px;
            border-top: 1px solid $grey;
          }
        }
      }
    }
}

.menu {
    .menu-item {
        .badge {
          background-color: $snorlax-beam;
          font-weight: 400;
        }

        .fa-none {
            display: none;
        }
    }
}

.sub-menu {
    box-shadow: none !important;
    border-bottom: 1px solid $grey;

    .menu-item {
        a {
            padding: 5px 10px;
            margin: 0;

            &.menu-item-active {
                // background: $snorlax-tongue;
            }
        }
    }
}
