.pagination {
    box-shadow: none !important;
    margin-top: 0 !important
    border-top: 1px solid $grey;;

    .prev,
    .next,
    .page-number {
        border-top: 0;

        +mobile() {
          border-bottom: none;
        }
    }

    .page-number {
      &.current {
        background-color: $red;
      }
    }

}