.posts-expand {
    .post-block {
      &:not(:first-child) {
        border-top: 1.5px dashed $grey;
      }
      box-shadow: none !important;

      .post-header {
        margin-bottom: 0;
        padding-bottom: 2rem;
        border-bottom: 1.5px dashed $grey;

        .post-title {
            font-family: 'yg-jalnan';
        }

        .post-description {
            font-family: 'Binggrae-Bold';
        }

        .post-meta {
            margin-bottom: 0;
        }
      }

      .post-body {
          padding-top: 20px;
      }
    }
}

.archive {
    .post-block {
        box-shadow: none !important;

        .collection-year {
            margin: 20px 0 10px 0;
        }
        .collection-title {
            .collection-header {
                display: none;
            }
        }
        .post-header {
            margin: 10px 0;

            .post-title {
               font-family: 'Noto Sans KR';
            }
        }
    }
}

.post-body {
    h1 {
      border-top: 1px solid $grey;
      padding: 10px 0px;
      background: $lightgrey;
      text-align: center;
    }
    h1, h2 {
      border-bottom: 1px solid $grey;
    }
    .image-caption {
        margin: -10px auto 15px;
    }

    img {
        max-height: 100%;

        &[src*="#hwrap"] {
          width: 100%;
          max-height: 300px;
        }

        &[src*="#compact"] {
          max-height: 200px;
        }
    }

    code {
      color: $red;
      background-color: $lightgrey;
    }
    
    a {
        code {
            border: 1px solid $grey;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.comments {
    box-shadow: none !important;
    border-top: 1px solid $grey;
}
