@import "fonts.styl";
@import "header.styl";
@import "post.styl";
@import "pagination.styl";
@import "main.styl";
@import "darkmode.styl";

body {
  line-height: 1.5;
}

.reading-progress-bar {
  background-color: $green;
  border-radius: 5px;
}

.pace {
  .pace-progress {
    background-color: $green !important;
  }
}

.headband {
  background-color: $headband-color;  
}

/* footer */
.footer {
  .footer-inner {
    text-align: right;

    +tablet-mobile() {
      padding-right: 0.5em;
    }
  }  
}

.adsense-block {
  width: 240px;
  background: transparent;

  +tablet-mobile() {
    width: 100%;
  }
}